<div class="filters">
  <div class="filters__form">
    <mat-form-field class="control" appearance="fill">
      <mat-label>Desde</mat-label>
      <input matInput [matDatepicker]="fromPicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="control" appearance="fill">
      <mat-label>Hasta</mat-label>
      <input matInput [matDatepicker]="toPicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <!-- <button mat-raised-button color="accent">Filtrar</button> -->
  </div>
</div>
