



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="dt_flight">
    <th mat-header-cell *matHeaderCellDef>Day</th>
    <td mat-cell *matCellDef="let element">{{ element.dt_flight }}</td>
  </ng-container>

  <ng-container matColumnDef="cd_flight_number">
    <th mat-header-cell *matHeaderCellDef>Hour</th>
    <td mat-cell *matCellDef="let element">{{ element.cd_flight_number }}</td>
  </ng-container>

  <ng-container matColumnDef="cd_airport_dep">
    <th mat-header-cell *matHeaderCellDef>HandlingFunction</th>
    <td mat-cell *matCellDef="let element">{{ element.cd_airport_dep }}</td>
  </ng-container>

  <ng-container matColumnDef="cd_airport_arr">
    <th mat-header-cell *matHeaderCellDef>FullTimeEmployers</th>
    <td mat-cell *matCellDef="let element">{{ element.cd_airport_arr }}</td>
  </ng-container>

  <ng-container matColumnDef="handling_function">
    <th mat-header-cell *matHeaderCellDef>PartTimeEmployers</th>
    <td mat-cell *matCellDef="let element">{{ element.handling_function }}</td>
  </ng-container>

  <ng-container matColumnDef="ts_operation_start">
    <th mat-header-cell *matHeaderCellDef>totalEmployers</th>
    <td mat-cell *matCellDef="let element">{{ element.ts_operation_start }}</td>
  </ng-container>

  <ng-container matColumnDef="ts_operation_end">
    <th mat-header-cell *matHeaderCellDef>fullTimeEmployersCost</th>
    <td mat-cell *matCellDef="let element">
      {{ element.ts_operation_end }}
    </td>
  </ng-container>

  <ng-container matColumnDef="required_employees">
    <th mat-header-cell *matHeaderCellDef>partTimeEmployeersCost</th>
    <td mat-cell *matCellDef="let element">
      {{ element.required_employees }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
