<div class="wrapper">
  <form class="morphic-form" [formGroup]="loginGroup">
    <div class="logo">
      <img src="assets/logos/logo-vector-vueling-removebg-preview.png" alt="" />
    </div>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ejemplo pat@example.com"
        required="true"
      />

      <mat-error *ngIf="loginGroup.get('email')?.hasError('required'); else emailError">
        El correo es <strong>requerido</strong>
      </mat-error>

      <ng-template #emailError>
        <mat-error *ngIf="loginGroup.get('email')?.hasError('email')">
          Por favor entre una dirección de correo válida
        </mat-error>
      </ng-template>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        required="true"
      />

      <mat-error *ngIf="loginGroup.get('password')?.hasError('required'); else passwordError">
        La contraseña es <strong>requerida</strong>
      </mat-error>

      <ng-template #passwordError>
        <mat-error *ngIf="loginGroup.get('password')?.hasError('password')">
          Por favor entre una contraseña válida
        </mat-error>
      </ng-template>
    </mat-form-field>

    <button type="button" mat-flat-button color="accent" (click)="submit()">Entrar</button>
  </form>
</div>
