<p>table works!</p>



<!-- 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Day </th>
    <td mat-cell *matCellDef="let element"> {{element.day}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Hour </th>
    <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> HandlingFunction </th>
    <td mat-cell *matCellDef="let element"> {{element.handlingFunction}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> FullTimeEmployers </th>
    <td mat-cell *matCellDef="let element"> {{element.fullTimeEmployers}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> totalEmployers </th>
    <td mat-cell *matCellDef="let element"> {{element.totalEmployers}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> fullTimeEmployersCost </th>
    <td mat-cell *matCellDef="let element"> {{element.fullTimeEmployersCost}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> partTimeEmployeersCost </th>
    <td mat-cell *matCellDef="let element"> {{element.partTimeEmployeersCost}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> totalCost </th>
    <td mat-cell *matCellDef="let element"> {{element.totalCost}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table> -->



