<app-navbar></app-navbar>

<div class="filters">
  <app-chart-filter></app-chart-filter>
</div>

<div class="charts">
  <div class="charts_employees" *ngIf="employeesByFunction$ | async as config">
    <app-employees-by-function [config]="config"></app-employees-by-function>
  </div>

  <div class="charts_full-vs-part" *ngIf="fullVsPart$ | async as config">
    <app-full-vs-part [config]="config"></app-full-vs-part>
  </div>
</div>

<div class="table">
  <app-table [dataSource]="(data$ | async) || []"></app-table>
</div>