<nav>
  <mat-toolbar color="accent">
    <span>Vueling Ground Handling</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon dataset-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>dataset</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with logout icon"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="false">
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </div>
</nav>
